.content {
    padding: 16px;
    width: 960px;
    margin: 0 auto;
}

.team-pictures-row {
    width: 100%;
    overflow: auto;
    padding-left: 0;
    transition: height 0.3s ease-in-out;
    height: 200px;
    position: relative;
}

.team-pictures-row .team-member {
    float: left;
    margin-right: 1.25%;
    box-sizing: border-box;
    width: 19%;
    cursor: pointer;
}

.team-pictures-row .team-member:nth-of-type(5n) {
    margin-right: 0;
}

.team-pictures-row .team-member img {
    border-radius: 50%;
    width: 80%;
    margin-left: 10%;
}

.team-pictures-row .team-member span {
    text-align: center;
    display: block;
}

#team-members-container div {
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    height: 0;
}

p[data-person] {
    display: none;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    width: 60%;
    padding: 16px 20%;
    background-color: #f5f5f5;
    box-shadow:
            inset 0px 11px 8px -10px #CCC,
            inset 0px -11px 8px -10px #CCC;
}

p[data-person].show {
    display: block;
}
